<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Arachnode.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="arachnode_net_ConnectionString" connectionString="Data Source=.;Initial Catalog=arachnode.net;Integrated Security=True;Connection Timeout=3600;" providerName="System.Data.SqlClient" />
	</connectionStrings>
 <system.serviceModel>
  <bindings />
  <client />
 </system.serviceModel>
 <applicationSettings>
  <Arachnode.Test.Properties.Settings>
   <setting name="Arachnode_Test_CrawlerServiceReference_CrawlerService"
    serializeAs="String">
    <value>http://localhost:56830/Services/CrawlerService.asmx</value>
   </setting>
  </Arachnode.Test.Properties.Settings>
 </applicationSettings>
</configuration>