body
{
	font-size: 90%;
	font-family: Arial, Helvetica;
}

#header_arachnode_net_crawl
{
	font-size: 180%;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
}

#header_arachnode_net_crawl input
{
	font-size: 100%;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
}

.crawlBox
{
	margin-left: 8px;
	margin-right: 4px;
	width: 250px;
}

.crawlButton
{
	margin-left: 8px;
}

#resultsDetails
{
	background-color: WhiteSmoke;
	border-bottom: dashed 1px Silver;
	border-top: solid 3px Navy;
	margin: 0px 0px 8px 0px;
	padding: 1px 8px 1px 0px;
	text-align:right;
}

.imageDiv
{
		
}

.image
{
	border: solid 1px Black;
}

#canvas
{
}